#container {
    padding: 10px;
}

h1{
    border-bottom: solid;
    border-width: 2px;
    margin:0px;
    padding-bottom: 10px;
    font-size: 24px;
}

#list{
    list-style-type: none;
}

#user{
    cursor: pointer;
    margin: 5px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 1px solid grey;

}