<div id="messageContainer">
  <ul id="msg">
    <li *ngFor="let msg of messages">
      <div style="float: left">
        <div *ngIf="msg.img == null && msg.code == 3">
          <img id="img" src="assets/image/default-user.png">
        </div>
        <div *ngIf="msg.img != null && msg.code == 3">
          <img id="img" [src]="'data:image/jpg;base64,'+msg.img" />
        </div>
      </div>
      <div style="float: left">
        <div id="head">
          <div id="timestamp"><strong>{{msg.timestamp}}</strong></div>
          <div id="name"><strong>{{msg.user}}</strong></div>
          <div id="mood">{{msg.mood}}</div>
        </div>
        <div style="clear: both"></div>

        <div *ngIf="msg.code == 3" id="message">{{msg.msg}}</div>
        <div *ngIf="msg.code != 3" id="markedMessage">{{msg.msg}}</div>
        <div style="clear: both"></div>
      </div>
      <div style="clear: both"></div>
    </li>
  </ul>
</div>